@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kristi&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#201e1e), to(rgba(32, 32, 32, 0)));
  background: linear-gradient(to bottom, #201e1e, rgba(32, 32, 32, 0));
  color: white;
  width: 100%;
  height: 10vh;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}

header .name {
  width: 50%;
  height: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5vmax;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  font-size: 1.3vmax;
}

header .icon {
  display: none;
}

#dropdown-content {
  display: none;
  position: absolute;
  border-radius: 2em;
}

#dropdown-content a {
  float: none;
  padding: 10% 1vmax 10%;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: #201e1e;
  border-radius: 2em;
  margin: 2%;
}

.dropdown:hover #dropdown-content {
  display: block;
}

.navbar #ig-icon-container img {
  width: 2vmax;
  height: auto;
}

.nav-bar-mobile-1, .nav-bar-mobile-2 {
  display: none;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4vmax;
  color: white;
  overflow: hidden;
  overflow-y: hidden;
}

.back, .close, .gallery-show-more {
  cursor: pointer;
  font-size: 6vmax;
}

.gallery-show-more {
  font-size: 4vmax;
  cursor: pointer;
}

.nav-bar-mobile-1 #ig-icon-container {
  width: 100%;
  height: 15%;
}

.nav-bar-mobile-1 #ig-icon-container img {
  height: 100%;
  width: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  header {
    background-color: black;
    height: 10vh;
    padding: 0%;
    padding-left: 20%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: absolute;
    z-index: 1;
    font-family: "Montserrat", sans-serif;
  }
  header .name {
    width: 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav {
    display: none;
  }
  header .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 4vmax;
  }
}

.footer {
  color: white;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .footer_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer_header #email, .footer .footer_header #name, .footer .footer_header #ig_icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer_header #email {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3vmax;
}

.footer .footer_header #name {
  font-family: "Kristi", cursive;
  font-size: 4vmax;
}

.footer .footer_header #ig_icon img {
  width: 15%;
}

.footer .footer_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer_navbar li {
  list-style-type: none;
}

.footer .footer_navbar li a {
  font-size: 1.5vmax;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .2rem;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 5%;
    height: 25vh;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer .footer_header {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: black;
    padding: 2%;
  }
  .footer .footer_header #email {
    font-family: "Montserrat", sans-serif;
    font-size: 2vmax;
  }
  .footer .footer_header img {
    height: 100%;
  }
  .footer .footer_navbar {
    display: none;
  }
}

.main-div {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main-div img {
  padding: 15%;
  margin-top: -20%;
  width: 100%;
}

.main-div-overlay {
  position: absolute;
  background-color: rgba(44, 42, 42, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 2.5vmax;
}

.first-section {
  background-color: black;
  height: 100vh;
  color: white;
  padding: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-section h2 {
  text-align: center;
  font-size: 3vmax;
}

.first-section .projects-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75%;
}

.first-section .projects-section #left, .first-section .projects-section #right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1%;
}

.first-section .projects-section #left figure, .first-section .projects-section #right figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.first-section .projects-section #left figure img, .first-section .projects-section #right figure img {
  margin: auto;
}

.first-section .projects-section #left figure figcaption, .first-section .projects-section #right figure figcaption {
  text-align: center;
  font-size: 1.5vmax;
}

.first-section .projects-section #left figure img {
  height: 87.5%;
  padding-bottom: 2.5%;
}

.first-section .projects-section #right figure img {
  width: 60%;
}

.first-section #more-projects-btn {
  width: 20%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
  padding: 1% 0;
  font-size: 1.5vmax;
  border-radius: 1em;
  -webkit-box-shadow: 1px 2px 0px 1px;
          box-shadow: 1px 2px 0px 1px;
}

@media only screen and (max-width: 768px) {
  .main-div {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-div img {
    padding: 0;
    margin-top: 0;
    width: auto;
    height: 100%;
    padding: 10%;
  }
  .first-section {
    height: 60%;
    padding: 10%;
  }
  .first-section .projects-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .first-section .projects-section #left, .first-section .projects-section #right {
    padding: 0%;
    width: 100%;
    height: 100%;
  }
  .first-section .projects-section #left figure, .first-section .projects-section #right figure {
    padding: 5%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
  }
  .first-section .projects-section #left figure img, .first-section .projects-section #right figure img {
    width: 100%;
    padding: 2.5%;
    position: relative;
  }
  .first-section #more-projects-btn {
    margin-top: 5%;
    width: 80%;
  }
}

.about_intro, .about_full {
  height: 100vh;
  color: white;
}

.about_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15% 10%;
}

.about_intro #content {
  font-size: 2vmax;
  text-align: center;
}

.about_intro #full_bio_btn {
  border: 1px solid white;
  padding: 2%;
  border-radius: 2em;
  cursor: pointer;
}

.about_full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_full #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 0 2.5%;
  line-height: 1.5em;
  font-size: 1.2vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.about_full #about_pic {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_full #about_pic img {
  height: 80%;
}

@media only screen and (max-width: 768px) {
  .about_intro {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50% 10%;
  }
  .about_intro #full_bio_btn {
    font-size: 2vmax;
  }
  .about_full {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 5%;
    height: 200vh;
  }
  .about_full #content {
    line-height: 1.5em;
    font-size: 2vmax;
    height: 100vh;
    padding: 2%;
  }
  .about_full #about_pic {
    padding: 5%;
    width: 100%;
    height: 40%;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  color: white;
  padding: 0 10%;
  padding-top: 10%;
}

.contact .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
}

.contact .contact-content #contact-pic {
  width: 50%;
  height: 100%;
}

.contact .contact-content #contact-pic img {
  height: 100%;
}

.contact-form {
  text-align: center;
  width: 50%;
}

.contact-form h2 {
  font-size: 2vw;
}

.contact-form #contact-form-content {
  padding: 5%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-form #contact-form-content #form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form #contact-form-content label {
  text-align: left;
  margin-top: 10px;
}

.contact-form #contact-form-content label, .contact-form #contact-form-content input, .contact-form #contact-form-content #submit-btn {
  font-size: 1.5vw;
}

.contact-form #contact-form-content input, .contact-form #contact-form-content textarea, .contact-form #contact-form-content #submit-btn {
  border-radius: 10px;
  margin-top: 10px;
  padding: 2%;
}

.contact-form #contact-form-content #submit-btn {
  color: white;
  border: 1px solid white;
  background-color: #201e1e;
  text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
  .contact {
    height: 200vh;
  }
  .contact .contact-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact .contact-content #contact-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 40%;
  }
  .contact .contact-content #contact-pic img {
    height: 100%;
    width: auto;
  }
  .contact-form {
    padding: 5%;
    width: 100%;
    height: 50%;
    height: auto;
  }
  .contact-form h2 {
    padding: 5%;
    font-size: 5vmax;
    margin: 0;
  }
  .contact-form #contact-form-content {
    height: auto;
    padding: 10%;
  }
  .contact-form #contact-form-content label, .contact-form #contact-form-content input, .contact-form #contact-form-content #submit-btn {
    font-size: 3vmax;
  }
}

.headshots-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.headshots-container .section-1, .headshots-container .section-2, .headshots-container .section-3, .headshots-container .section-4 {
  height: 100vh;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5%;
}

.headshots-container .section-1 img, .headshots-container .section-2 img, .headshots-container .section-3 img, .headshots-container .section-4 img {
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .headshots-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
  .headshots-container .section-1, .headshots-container .section-2, .headshots-container .section-3, .headshots-container .section-4 {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 5%;
  }
  .headshots-container .section-1 img, .headshots-container .section-2 img, .headshots-container .section-3 img, .headshots-container .section-4 img {
    width: 100%;
    height: auto;
    padding: 5%;
  }
}

.article-wrapper {
  color: white;
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.article-wrapper .article-1, .article-wrapper .article-2 {
  padding: 5%;
  width: 100%;
  font-size: 2vw;
}

.article-wrapper .article-1 figure, .article-wrapper .article-2 figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-wrapper .article-1 figure img, .article-wrapper .article-2 figure img {
  width: 70%;
}

.article-wrapper .article-1 figure figcaption, .article-wrapper .article-2 figure figcaption {
  border: 1px solid white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #202020;
  line-height: 1.5em;
  padding: 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-wrapper .article-1 figure figcaption a, .article-wrapper .article-2 figure figcaption a {
  border: 1px solid white;
  border-radius: 20px;
  margin-top: 10%;
}

.article-wrapper .article-2 figure {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
  .article-wrapper {
    padding-top: 20%;
  }
  .article-wrapper .article-1, .article-wrapper .article-2 {
    padding: 5%;
    width: 100%;
    font-size: 2vw;
  }
  .article-wrapper .article-1 figure, .article-wrapper .article-2 figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5%;
  }
  .article-wrapper .article-1 figure img, .article-wrapper .article-2 figure img {
    width: 100%;
  }
  .article-wrapper .article-1 figure figcaption, .article-wrapper .article-2 figure figcaption {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 2vmax;
    padding: 5%;
  }
  .article-wrapper .article-1 figure figcaption a, .article-wrapper .article-2 figure figcaption a {
    font-size: 1.5vmax;
    padding: 2.5%;
  }
}

.show-content {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.show-content figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10% 5%;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.show-content figure img {
  padding: 5%;
  height: 100%;
}

.show-content figure figcaption {
  text-align: center;
  margin: auto 0;
  font-size: 2vw;
}

@media only screen and (max-width: 768px) {
  .show-content {
    padding: 10% 5%;
  }
  .show-content figure {
    padding: 10% 5%;
    height: auto;
    width: 100%;
  }
  .show-content figure img {
    padding: 5%;
    width: 60%;
  }
  .show-content figure figcaption {
    font-size: 1vmax;
  }
}

.vid-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.vid-container video {
  width: 100%;
  padding: 5%;
}

@media only screen and (max-width: 768px) {
  .vid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70vh;
  }
}
/*# sourceMappingURL=style.css.map */