@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');

$primary_font : 'Montserrat', sans-serif;
$secondary_font : 'Kristi', cursive;

*{
    padding : 0%;
    margin : 0%;
    box-sizing: border-box;
    font-family: $primary_font;
}

body{
    background-color: black;
    animation: fadeIn 2s;
}

html{
    scroll-behavior: smooth;
}

a{
    color : white;
    text-decoration: none;
}

img {
-webkit-transition: -webkit-transform .8s ease-in-out;
        transition:         transform .8s ease-in-out;
}
img:hover {
-webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}




@import 'components/navbar';
@import 'components/footer';

@import 'pages/index';
@import 'pages/about';
@import 'pages/contact';
@import 'pages/headshots';
@import 'pages/press';
@import 'pages/shows';
@import 'pages/video';
@import 'pages/resume';

