.about_intro, .about_full{
    height: 100vh;
    color : white;
}

.about_intro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding : 15% 10%;

    #content{
        font-size: 2vmax;
        text-align: center;
    }

    #full_bio_btn{
        border : 1px solid white;
        padding : 2%;
        border-radius: 2em;
        cursor: pointer;
    }

}

.about_full{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    #content{
        display: flex;
        flex-direction: column;
        color : white;
        padding : 0 2.5%;
        line-height: 1.5em;
        font-size: 1.2vw;
        justify-content: space-around;
        height: 100%;
    }
    #about_pic{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 80%;
        }
    }
}

@media only screen and (max-width : 768px ){
    .about_intro{
        align-items: center;
        padding : 50% 10%;
        #full_bio_btn{
          font-size: 2vmax;
        }
    }

    .about_full{
        flex-direction: column;
        justify-content: space-around;
        padding : 5%;
        height: 200vh;
        // background-color: aliceblue;
        #content{
            line-height: 1.5em;
            font-size: 2vmax;
            height: 100vh;
            padding: 2%;
        }
        #about_pic{
            padding: 5%;
            width: 100%;
            height: 40%;
        }
    }
}