.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color : white;
    padding : 0 10%;
    padding-top: 10%;

    .contact-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        #contact-pic{
            width: 50%;
            height: 100%;
            img{
                height: 100%;
            }
        }
    }
}

.contact-form{

    h2{
        font-size: 2vw;
    }

    text-align: center;
    width: 50%;
    #contact-form-content{
        padding : 5%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        #form-item{
            display: flex;
            flex-direction: column;
        }

        label{
            text-align: left;
            margin-top: 10px;
        }

        label, input, #submit-btn{
            font-size : 1.5vw;
        }

        input, textarea, #submit-btn{
            border-radius: 10px;
            margin-top : 10px;
            padding : 2%;
        }

        #submit-btn{
            color : white;
            border : 1px solid white;
            background-color: #201e1e;
            text-transform: capitalize;
        }
    }  

}


@media only screen and (max-width : 768px ){

    .contact{

        // background-color: #333333;
        height: 200vh;
        .contact-content{
            flex-direction: column;
            justify-content: space-around;
            #contact-pic{
                display: flex;
                justify-content: center;
                width: 100%;
                height: 40%;
                img{
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
    
    .contact-form{
    
        padding : 5%;
        width: 100%;
        height: 50%;
        h2{
            padding: 5%;
            font-size: 5vmax;
            margin: 0;
        }
        height: auto;
        #contact-form-content{
            height: auto;
            padding: 10%;
            label, input, #submit-btn{
                font-size : 3vmax;
            }
        }  
    
    }
    
    

}