.main-div{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    img{
        padding : 15%;
        margin-top : -20%;
        width : 100%;
    }
    
}


.main-div-overlay{
    position: absolute;
    background-color: rgba(44, 42, 42, 0.5);
    left : 0;
    top : 0;
    width: 100%;
    height: 100vh;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 2.5vmax;
}

.first-section{
    background-color: black;
    height: 100vh;
    color : white;
    padding : 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2{
        text-align: center;
        font-size: 3vmax;
    }

    .projects-section {
        display: flex;
        width: 100%;
        height: 75%;
        #left, #right{
            width: 50%;
            display: flex;
            padding : 1%;
            figure {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                img{
                    margin: auto;
                }

                figcaption{
                    text-align: center;
                    font-size: 1.5vmax;
                    animation: fadeIn 4s;
                }
            }
        }

        #left figure img{
            height: 87.5%;
            padding-bottom: 2.5%;
        }

        #right figure img{
            width: 60%;
        }
    }

    #more-projects-btn{
        width: 20%;
        margin : 0 auto;
        text-align: center;
        border: 1px solid white;
        cursor: pointer;
        padding : 1% 0;
        font-size: 1.5vmax;
        border-radius: 1em;
        box-shadow: 1px 2px 0px 1px;
    }
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
 
@media only screen and (max-width : 768px ){

    .main-div{
        height: 100vh;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            padding : 0;
            margin-top : 0;
            width : auto;
            height: 100%;
            padding : 10%;
        }
        
    }
    
    .first-section{
        height: 60%;
        padding : 10%;
        .projects-section {
            flex-direction: column;
            justify-content: space-evenly;
            #left, #right{
                padding : 0%;
                width: 100%;
                height: 100%;
                figure {
                    padding : 5%;
                    justify-content: space-around;
                    height: 100%;
                    img{
                        width: 100%;
                        padding : 2.5%;
                        position: relative;
                    }
                }
            }
        }

    #more-projects-btn{
        margin-top: 5%;
        width: 80%;
    }
}

   }
