.show-content{
    color : white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    figure{

        display: flex;
        padding : 10%;
        height: 100vh;
        max-width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid gray;

        img{
            height: 100%;
            // width: auto;
            border : 5px solid white;
        }

        figcaption{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.7vmax;
            padding: 5%;
            // background-color: rgba(11, 81, 81, .5);
            margin : 0 2%;
            border-radius: 20px;
        }
    }

    figure:nth-child(1){
        margin-top: 5vh;
        // background-color: lightblue;
    }

}



@media only screen and (max-width : 768px ){
    .show-content{
        padding : 10% 5%;
        figure{
            padding : 10% 5%;
            height: auto;
            width: 100%;
            flex-direction: column;
            img{
                padding : 5%;
                width: 100%;
                margin : auto 0;
            }
    
            figcaption{
                font-size: 2vmax;
            }
        }
    }
    
}