
@font-face {
    font-family: avenir;
    src: url("/assets/fonts/avenir_ff/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
    font-family: avenir-book;
    src: url("/assets/fonts/avenir_ff/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
    font-family: avenir-roman;
    src: url("/assets/fonts/avenir_ff/AvenirLTStd-Roman.otf") format("opentype");
}



@fonts-face {
    font-family: futura;
    src: url("/assets/fonts/futura/Futura-CondensedLight.otf") format("opentype");
}

@font-face {
    font-family: literal;
    src: url("/assets/fonts/literal/Literal_Regular.otf") format("opentype");
}

@font-face {
    font-family: lt_wave;
    src: url("/assets/fonts/lt_wave/LTWaveText-Medium.otf") format("opentype");
}




*, html {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: lt_wave;
}

@import "components/navbar";
@import "components/footer";
@import "components/home";
@import "components/about";
@import "components/resume";
@import "components/gallery";
@import "components/media";
@import "components/contact";