@font-face {
  font-family: avenir;
  src: url("/assets/fonts/avenir_ff/AvenirLTStd-Book.otf") format("opentype");
}
@font-face {
  font-family: avenir-book;
  src: url("/assets/fonts/avenir_ff/AvenirLTStd-Book.otf") format("opentype");
}
@font-face {
  font-family: avenir-roman;
  src: url("/assets/fonts/avenir_ff/AvenirLTStd-Roman.otf") format("opentype");
}
@fonts-face {
  font-family: futura;
  src: url("/assets/fonts/futura/Futura-CondensedLight.otf") format("opentype");
}
@font-face {
  font-family: literal;
  src: url("/assets/fonts/literal/Literal_Regular.otf") format("opentype");
}
@font-face {
  font-family: lt_wave;
  src: url("/assets/fonts/lt_wave/LTWaveText-Medium.otf") format("opentype");
}
*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lt_wave;
}

.header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .header-inner {
  width: 100%;
  max-width: 1500px;
  font-size: 22px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .header-inner .left-container .header-name {
  font-family: literal;
  font-style: normal;
  font-size: 3.5em;
  text-transform: uppercase;
}
.header .header-inner .left-container .header-name a {
  text-decoration: none;
}
.header .header-inner .left-container nav ul {
  display: flex;
  list-style-type: none;
  width: auto;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 300;
  justify-content: center;
  align-items: center;
}
.header .header-inner .left-container nav ul li {
  text-decoration: none;
  padding: 0 5px;
  display: flex;
}
.header .header-inner .left-container nav ul li a {
  text-decoration: none;
  color: black;
}
.header .header-inner .left-container nav ul li a:hover {
  color: rgb(109, 185, 179);
}
.header .header-inner .right-container {
  margin-right: 8%;
  padding: 1% 0;
  width: 20%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header .header-inner .right-container .links-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 5px 20px;
}
.header .header-inner .right-container .links-box .img-outer {
  border-radius: 50%;
  padding: 8px;
  margin: 5px;
  border: 2px solid black;
  display: inline-block;
  font-size: 21px;
}
.header .header-inner .right-container .links-box .img-outer img {
  min-width: 25;
  min-height: 30;
}
.header .header-inner .right-container .city-name {
  font-size: 21px;
  letter-spacing: 0.3em;
  line-height: 1em;
  padding: 0 10px;
  text-align: center;
  font-weight: 700;
}

.index-header {
  position: absolute;
  width: 60vw;
  padding: 5vw;
  height: 100vh;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-header .header-inner {
  min-height: 50vh;
  min-width: 80%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.index-header .header-inner .city-name {
  font-size: 2vw;
  letter-spacing: 0.3em;
  line-height: 3em;
  padding: 0 10px;
  text-align: center;
  font-weight: 700;
  width: 100%;
}
.index-header .header-inner .header-name {
  font-family: literal;
  font-style: normal;
  font-size: max(30px, 6vw);
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.index-header .header-inner .header-name a {
  text-decoration: none;
}
.index-header .header-inner nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-header .header-inner nav ul {
  display: flex;
  list-style-type: none;
  width: 90%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  line-height: 4;
  justify-content: space-between;
}
.index-header .header-inner nav ul li {
  text-decoration: none;
  padding: 0 5px;
}
.index-header .header-inner nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
}
.index-header .header-inner nav ul li a:hover {
  color: rgb(109, 185, 179);
}
.index-header .header-inner .links-box-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.index-header .header-inner .links-box {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}
.index-header .header-inner .links-box .img-outer {
  border-radius: 50%;
  padding: 1em;
  margin: 1em;
  border: 2px solid black;
  display: inline-block;
}
.index-header .header-inner .links-box .img-outer img {
  min-width: 2.5vw;
  min-height: 2.5vw;
}

.header-mobile,
.nav-button,
.nav-mobile {
  display: none;
}

@media only screen and (max-width: 640px) {
  @keyframes slide-in {
    from {
      margin-left: -100vw;
    }
    to {
      margin-left: 0;
    }
  }
  header {
    display: none;
  }
  .header-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-mobile a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    letter-spacing: 0.2em;
  }
  .nav-button,
  .header-mobile {
    background-color: rgba(13, 13, 20, 0.8);
  }
  .nav-button {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .nav-button img {
    width: 50px;
    height: 50px;
  }
  .nav-mobile {
    position: fixed;
    animation-name: slide-in;
    animation-duration: 2s;
    height: 100vh;
    width: 100vw;
    z-index: 1;
  }
  .nav-mobile .navbar-mob-options {
    background-color: rgba(41, 108, 139, 0.9);
    height: 100vh;
    width: 90vw;
  }
  .nav-mobile .navbar-mob-options ul {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px;
    list-style-type: none;
  }
  .nav-mobile .navbar-mob-options ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 0.2em;
  }
  .nav-mobile .close-sec {
    width: 10vw;
    height: 100vh;
  }
  .nav-mobile .close-sec .close-btn-wrapper {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(16, 85, 90, 0.8);
    cursor: pointer;
  }
  .nav-mobile .close-sec .close-btn-wrapper img {
    height: 50%;
    width: 50%;
  }
}
/*----------------------footer----------------------*/
footer {
  font-family: avenir-Book;
  background-color: rgb(35, 107, 107);
  text-align: center;
  height: 40vh;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5% 0;
  color: white;
}
footer .intro {
  padding: 20px;
}
footer .intro-header {
  padding: 20px;
  font-size: 2em;
}
footer .links-box {
  z-index: 0;
  display: flex;
  justify-content: center;
  width: 25%;
  filter: invert(99%) sepia(1%) saturate(2328%) hue-rotate(135deg) brightness(118%) contrast(100%);
}
footer .links-box .link-social {
  padding: 0 5px;
}

/*----------------Home -------------------*/
.home .homepage-headshot {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .homepage-headshot .img-container {
  width: 100vw;
  height: 100vh;
}
.home .homepage-headshot .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ----------------- Header specific style for HOME -------------- */
.home .index-header .header-inner .links-box-wrapper .links-box .link-social {
  filter: invert(27%) sepia(96%) saturate(423%) hue-rotate(156deg) brightness(93%) contrast(87%);
}
.home .index-header a {
  color: rgb(18, 119, 147);
}
.home .index-header nav ul li a {
  color: rgb(15, 93, 114);
}
.home .index-header .city-name {
  color: rgb(18, 119, 147);
}

/*----------------------About----------------------*/
.about .header .right-container .links-box .link-social {
  filter: invert(60%) sepia(16%) saturate(1689%) hue-rotate(151deg) brightness(81%) contrast(93%);
}
.about .header a {
  color: rgb(18, 119, 147);
}
.about .header .left-container nav ul li a {
  color: rgb(18, 119, 147);
}
.about .header .right-container .city-name {
  color: rgb(18, 119, 147);
  font-size: 0.7em;
}

.about {
  min-height: 100vh;
}
.about .about-headshot {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about-headshot .img-container {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  background-image: url("/assets/img/headshots/about-headshot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.about .about-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.about .about-content .inner {
  display: flex;
  max-width: 80vw;
}
.about .about-content .left-section {
  width: 50%;
  padding: 5vw;
}
.about .about-content .left-section .img-container {
  height: 100%;
  width: 100%;
}
.about .about-content .left-section .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about-content .right-section {
  width: 50%;
  height: 100%;
  padding: 5px;
  line-height: 1.5em;
  padding: 20px;
}
.about .about-content .right-section .about-paragraph .paragraph-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about-content .right-section .about-paragraph .paragraph-title h2 {
  text-align: center;
  padding: 20px 5px;
  width: 100%;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 3px;
}
.about .about-content .right-section .about-paragraph .paragraph-content {
  padding: 20px;
}

@media only screen and (max-width: 640px) {
  .about-content .inner {
    flex-direction: column;
  }
  .about-content .inner .left-section {
    margin-bottom: 50px;
  }
  .about-content .inner .left-section, .about-content .inner .right-section {
    width: 100%;
  }
}
/*----------------------Resume----------------------*/
.resume .header {
  width: 100%;
  position: relative;
  color: rgba(255, 255, 255, 0.825);
  background-color: rgb(18, 119, 147);
}
.resume .header a {
  color: rgba(255, 255, 255, 0.825);
}
.resume .header .left-container nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.825);
}
.resume .header .right-container .city-name {
  color: rgba(255, 255, 255, 0.825);
  font-size: 0.7em;
}
.resume .header .right-container .links-box .link-social {
  filter: invert(100%) brightness(100%);
  opacity: 0.825;
}

.resume {
  min-height: 100vh;
  width: 100%;
}
.resume .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.resume .container .top {
  width: 100vw;
}
.resume .container .top .title {
  text-align: center;
  width: 100%;
  padding: 5vh;
  background-color: rgb(18, 119, 147);
  color: white;
}
.resume .container .top .title h2 {
  letter-spacing: 0.3em;
  font-size: 4em;
}
.resume .container .top .subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.resume .container .top .subtitle .social-links-tray {
  padding: 20px;
  display: flex;
}
.resume .container .top .subtitle .social-links-tray .socials-wrapper-item {
  display: flex;
  align-items: center;
}
.resume .container .top .subtitle .social-links-tray .socials-wrapper-item a {
  height: 4em;
  margin: 1em;
  min-width: 200px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.resume .container .top .subtitle .social-links-tray .socials-wrapper-item img {
  height: 100%;
  padding: 0.5em;
}
.resume .container .inner {
  width: 80%;
  max-width: 1500px;
}
.resume .container .inner .main {
  margin: 5vh;
  display: flex;
}
.resume .container .inner .main .left-div, .resume .container .inner .main .right-div {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.resume .container .inner .main .left-div, .resume .container .inner .main .right-div {
  padding: 5vh;
}
.resume .container .inner .main .img-container {
  min-height: 100vh;
  width: 100%;
}
.resume .container .inner .main .img-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100vh;
}
.resume .container .inner .main .button-container {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.resume .container .inner .main .button {
  padding: 20px;
  letter-spacing: 0.15em;
  background-color: rgb(18, 119, 147);
  color: white;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

@media only screen and (max-width: 640px) {
  .resume .container .inner .main {
    flex-direction: column-reverse;
  }
  .resume .container .inner .main .left-div, .resume .container .inner .main .right-div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .resume .container .inner .main .left-div .img-container, .resume .container .inner .main .right-div .img-container {
    height: auto;
  }
  .resume .container .inner .main .left-div .button-container, .resume .container .inner .main .right-div .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.gallery header .right-container .links-box .link-social {
  filter: invert(99%) sepia(1%) saturate(2328%) hue-rotate(135deg) brightness(118%) contrast(100%);
}
.gallery .header {
  color: white;
}
.gallery .header .left-container nav ul li a {
  color: white;
}
.gallery .header a {
  color: white;
}
.gallery .header .right-container .city-name {
  color: white;
  font-size: 0.7em;
}

.gallery {
  min-height: 100vh;
}
.gallery .gallery-headshot {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .gallery-headshot .img-container {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  background-image: url("/assets/img/editorial/editorial-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.gallery .gallery-content {
  margin-bottom: 20vh;
}
.gallery .gallery-content .headshots .title, .gallery .gallery-content .editorial-shots .title, .gallery .gallery-content .production-shots .title {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 2vh 0;
  color: rgb(21, 72, 130);
}
.gallery .gallery-content .headshots .inner, .gallery .gallery-content .editorial-shots .inner, .gallery .gallery-content .production-shots .inner {
  height: 40v;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.gallery .gallery-content .headshots .inner .top, .gallery .gallery-content .headshots .inner .bottom, .gallery .gallery-content .editorial-shots .inner .top, .gallery .gallery-content .editorial-shots .inner .bottom, .gallery .gallery-content .production-shots .inner .top, .gallery .gallery-content .production-shots .inner .bottom {
  display: flex;
  gap: 10px;
}
.gallery .gallery-content .headshots .inner .flex-item, .gallery .gallery-content .editorial-shots .inner .flex-item, .gallery .gallery-content .production-shots .inner .flex-item {
  width: 250px; /* Set a fixed width for the images */
  height: 300px; /* Set a fixed height for the images */
  flex: 4;
  -o-object-fit: cover;
     object-fit: cover; /* Ensure images cover the available space without distortion */
  -o-object-position: top;
     object-position: top; /* Center the image */
  max-width: 100%;
}
.gallery .gallery-content .production-shots .top .img-container, .gallery .gallery-content .production-shots .mid .img-container, .gallery .gallery-content .production-shots .bottom .img-container {
  position: relative;
}
.gallery .gallery-content .production-shots .top .img-container .i1, .gallery .gallery-content .production-shots .mid .img-container .i1, .gallery .gallery-content .production-shots .bottom .img-container .i1 {
  -o-object-position: top right;
     object-position: top right;
}
.gallery .gallery-content .production-shots .top .img-container .i3, .gallery .gallery-content .production-shots .mid .img-container .i3, .gallery .gallery-content .production-shots .bottom .img-container .i3 {
  -o-object-position: top left;
     object-position: top left;
}

@media only screen and (max-width: 640px) {
  .gallery .gallery-content .inner .headshots, .gallery .gallery-content .inner .editorials {
    min-width: 0;
    padding: 25px;
  }
  .gallery .gallery-content .inner .headshots img, .gallery .gallery-content .inner .editorials img {
    width: 50%;
  }
}
.media .header {
  width: 100%;
  position: relative;
  color: rgba(255, 255, 255, 0.825);
  background-color: rgb(18, 119, 147);
}
.media .header a {
  color: rgba(255, 255, 255, 0.825);
}
.media .header .left-container nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.825);
}
.media .header .right-container .city-name {
  color: rgba(255, 255, 255, 0.825);
  font-size: 0.7em;
}
.media .header .right-container .links-box .link-social {
  filter: invert(100%) brightness(100%);
  opacity: 0.825;
}

.media {
  height: 100vh;
}
.media .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}
.media .container .top {
  width: 100vw;
}
.media .container .top .title {
  text-align: center;
  width: 100%;
  padding: 5vh;
  background-color: rgb(18, 119, 147);
  color: white;
}
.media .container .top .title h2 {
  letter-spacing: 0.3em;
  font-size: 3em;
}
.media .container .top .subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  letter-spacing: 0.3em;
}
.media .container .wrapper-1 {
  width: 80%;
  max-width: 1500px;
}
.media .container .wrapper-1 .main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media .container .wrapper-1 .main .vid-container {
  height: 60vh;
  width: 50vw;
}
.media .container .wrapper-2 {
  padding: 2em;
  width: 80%;
  max-width: 1500px;
}
.media .container .wrapper-2 .clips-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  letter-spacing: 0.3em;
}
.media .container .wrapper-2 .clips {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 10px;
}
.media .container .wrapper-2 .clips .clip-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.media .container .wrapper-2 .clips .clip-item iframe, .media .container .wrapper-2 .clips .clip-item p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.contact .header {
  width: 100%;
  position: relative;
  color: rgba(255, 255, 255, 0.825);
  background-color: rgb(18, 119, 147);
}
.contact .header a {
  color: rgba(255, 255, 255, 0.825);
}
.contact .header .left-container nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.825);
}
.contact .header .right-container .city-name {
  color: rgba(255, 255, 255, 0.825);
  font-size: 0.7em;
}
.contact .header .right-container .links-box .link-social {
  filter: invert(100%) brightness(100%);
  opacity: 0.825;
}

.contact {
  min-height: 100vh;
  width: 100%;
}
.contact .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact .container .top {
  width: 100vw;
}
.contact .container .top .title {
  text-align: center;
  width: 100%;
  padding: 5vh;
  background-color: rgb(18, 119, 147);
  color: white;
}
.contact .container .top .title h2 {
  letter-spacing: 0.3em;
  font-size: 3em;
}
.contact .container .inner {
  width: 80%;
  max-width: 1500px;
}
.contact .container .inner .main {
  padding: 5vh 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .container .inner .main .contact-photo {
  width: 40vw;
}
.contact .container .inner .main .contact-photo .img-container {
  width: 100%;
}
.contact .container .inner .main .contact-photo .img-container img {
  width: 100%;
}
.contact .container .inner .main .bio {
  width: 40vw;
}
.contact .container .inner .main .bio {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
}
.contact .container .inner .main .bio .bio-inner {
  width: 80%;
}
.contact .container .inner .main .bio .bio-tittle {
  position: absolute;
  color: white;
  background-color: rgb(18, 119, 147);
  padding: 20px;
  top: 20px;
  left: -80px;
  width: 100%;
}
.contact .container .inner .main .bio .bio-desc {
  font-size: 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  padding: 10vh 0;
}
.contact .container .inner .main .bio .bio-desc .bio-list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  list-style-type: none;
  padding: 25px;
}
.contact .container .inner .main .bio .bio-desc .bio-contact {
  padding: 25px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 640px) {
  .contact .container .inner .main {
    flex-direction: column;
  }
  .contact .container .inner .main .contact-photo {
    display: none;
  }
  .contact .container .inner .main .contact-form-wrapper {
    width: 80vw;
  }
  .contact .container .inner .main .contact-form-wrapper .form .form-item-2 {
    width: 100%;
  }
  .contact .container .inner .main .contact-form-wrapper .form .form-item-2:first-child {
    padding-right: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .contact .container .inner .main .contact-form-wrapper .form .form-item-2 {
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    height: 40%;
  }
  .contact .container .inner .main .contact-form-wrapper .form .form-item-2 .form-item-2-i:first-child {
    padding-right: 0;
  }
}
/* CSS */
.button-89 {
  --b: 3px; /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  text-decoration: none;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), rgba(0, 0, 0, 0) 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgba(0, 0, 0, 0);
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}/*# sourceMappingURL=style.css.map */