.contact header a {
  color: black;
}

.contact {
  height: 100vh;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10vh;
}

.contact .container .inner {
  margin-top: 20vh;
  width: 80%;
  max-width: 1500px;
}

.contact .container .inner .title {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.contact .container .inner .title hr {
  margin: 20px auto;
  margin-bottom: 20px;
  max-width: 1500px;
  border: 1px #71724d solid;
}

.contact .container .inner .title h2 {
  font-size: 4em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.contact .container .inner .title h3 {
  font-size: 2em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.contact .container .inner .title h4 {
  padding: 40px 20px;
}

.contact .container .inner .title span {
  margin-bottom: 100px;
}

.contact .container .inner .title button {
  padding: 20px;
  letter-spacing: 0.15em;
  background-color: rgba(51, 143, 127, 0.685);
  color: white;
  cursor: pointer;
  border: none;
  text-decoration: none;
  margin-bottom: 50px;
}

.contact .container .inner .main {
  min-height: 65vh;
  max-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .container .inner .main .contact-photo {
  width: 25vw;
}

.contact .container .inner .main .contact-photo .img-container {
  height: 70vh;
  width: 100%;
}

.contact .container .inner .main .contact-photo .img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact .container .inner .main .contact-form-wrapper {
  height: 70vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .container .inner .main .contact-form-wrapper .form {
  padding: 20px;
  border: 1px solid gray;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(200, 205, 212, 0.685);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .container .inner .main .contact-form-wrapper .form input {
  height: 40px;
}

.contact .container .inner .main .contact-form-wrapper .form textarea {
  height: 100px;
}

.contact .container .inner .main .contact-form-wrapper .form .form-item {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 20%;
}

.contact .container .inner .main .contact-form-wrapper .form .form-item label {
  font: 12px;
}

.contact .container .inner .main .contact-form-wrapper .form .form-item-2 {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
  padding: 5px;
}

.contact .container .inner .main .contact-form-wrapper .form .form-item-2 .form-item-2-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

.contact .container .inner .main .contact-form-wrapper .form .form-item-2 .form-item-2-i:first-child {
  padding-right: 20px;
}

.contact .container .inner .main .contact-form-wrapper .submit-btn {
  padding: .8em 1.4em;
  letter-spacing: 0.15em;
  background-color: rgba(51, 143, 127, 0.685);
  color: white;
  cursor: pointer;
  border: none;
  text-decoration: none;
  margin-bottom: 50px;
  margin: 0 5px;
}

@media only screen and (max-width: 640px) {
  .contact .container .inner .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .container .inner .main .contact-photo {
    display: none;
  }
  .contact .container .inner .main .contact-form-wrapper {
    width: 80vw;
  }
  .contact .container .inner .main .contact-form-wrapper .form .form-item-2 {
    width: 100%;
  }
  .contact .container .inner .main .contact-form-wrapper .form .form-item-2:first-child {
    padding-right: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .contact .container .inner .main .contact-form-wrapper .form .form-item-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 40%;
  }
  .contact .container .inner .main .contact-form-wrapper .form .form-item-2 .form-item-2-i:first-child {
    padding-right: 0;
  }
}
/*# sourceMappingURL=contact.css.map */