
.contact {
    .header {

        width: 100%;
        position: relative;
        color: rgba(255, 255, 255, 0.825);
        background-color: rgb(18, 119, 147);


        a {
            color: rgba(255, 255, 255, 0.825);

        }
        .left-container nav ul li a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.825);

        }

        .right-container 
        {
            .city-name{
                color : rgba(255, 255, 255, 0.825);
                font-size: .7em;
            }
            .links-box .link-social {
            // filter: invert(99%) sepia(1%) saturate(2328%) hue-rotate(135deg) brightness(118%) contrast(100%);
            // filter: invert(80%) sepia(100%) saturate(500%) hue-rotate(180deg);
            filter: invert(100%) brightness(100%);
            opacity: 0.825;
            }
        }

    }
}

.contact{
    min-height: 100vh;
    width: 100%;
    
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        // margin-bottom: 10vh;

        .top {
            width: 100vw;
            .title{
                text-align: center;
                width: 100%;
                padding: 5vh;
                background-color: rgb(18, 119, 147);
                color: white;
    
                h2{
                    letter-spacing: 0.3em;
                    font-size: 3em;
                }
            }
        }

        .inner{
            width: 80%;
            max-width: 1500px;

            .main{
                padding : 5vh 10vw;
                display: flex;
                justify-content: center;
                align-items: center;
                // border: 2px solid red;

                .contact-photo{
                    width: 40vw;
                    .img-container{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                }
                .bio{
                    width: 40vw;
                }

                // .contact-photo{
                //     border: 1px solid red;
                //     width: 40vw;
                //     .img-container {
                //         height: 80vh;
                //         min-width: 40vw;
                //         // position: relative;
                //         img{
                //             // position: absolute;
                //             // left: 0;
                //             // top: 50%;
                //             // transform: translateY(-50%);
                //             width: auto;
                //             height: 100%;
                //         }
                //     }
                // }
                .bio{
                    position: relative;
                    // border : 1px solid red;
                    // height: 70vh;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    .bio-inner{
                        width: 80%;;
                    }
                    .bio-tittle{
                        position:absolute;
                        // border : 4px solid red;
                        color : white;
                        background-color: rgb(18, 119, 147);
                        padding: 20px;
                        top : 20px;
                        left: -80px;
                        width: 100%;
                    }

                    .bio-desc{
                        font-size: 1.5em;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 70vh;
                        padding: 10vh 0;
                        
                        .bio-list{
                            height: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: left;
                            flex-direction: column;
                            list-style-type: none; 
                            padding: 25px;
                            // border: 1px solid red;
                        }

                        .bio-contact{
                            padding: 25px;
                            height: 100%;
                            width: 100%;
                            display: flex;
                            justify-content:space-between;
                            align-items: center;
                            flex-direction: column;

                        }
                    }

                }
            }
        }   



    }
}
@media only screen and (max-width: 640px) {
    .contact .container .inner .main{
        .contact-photo{
            display: none;
        }
        .contact-form-wrapper{
            width: 80vw;
            .form{

                .form-item-2{
                    width: 100%;
                    &:first-child{
                        padding-right : 0;
                    }
                }
            }
        }
        flex-direction: column;
    }

}

@media only screen and (max-width: 1000px) {
    .contact .container .inner .main{

        .contact-form-wrapper{

            .form{
                .form-item-2{
                    flex-direction: column;
                    width: 100%;
                    justify-content: space-around;
                    height: 40%;
                    .form-item-2-i{
                        &:first-child{
                            padding-right : 0;
                        }
                    }
                }
            }
        }
    }

}

// <!-- HTML !-->
// <button class="button-89" role="button">Button 89</button>

/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  text-decoration: none;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
