 /*----------------Home -------------------*/


 .home{
    //  background-color: rgb(219, 214, 184);

     .homepage-headshot{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .img-container{
            width: 100vw;
            height: 100vh;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                
            }
        }
        
    }
 }

 
    

    /* ----------------- Header specific style for HOME -------------- */

    .home {
        .index-header .header-inner .links-box-wrapper 
        .links-box {
            // border : 1px solid yellow;

            .link-social {
                // filter: invert(99%) sepia(1%) saturate(2328%) hue-rotate(135deg) brightness(118%) contrast(100%);
                // filter: invert(80%) sepia(100%) saturate(500%) hue-rotate(180deg);
                // border : 1px solid red;
                // filter: invert(38%) sepia(56%) saturate(724%) hue-rotate(158deg) brightness(88%) contrast(89%);
                // filter: invert(40%) sepia(65%) saturate(600%) hue-rotate(155deg) brightness(90%) contrast(85%);
                filter: invert(27%) sepia(96%) saturate(423%) hue-rotate(156deg) brightness(93%) contrast(87%);

            }

        }
    
        .index-header{
            a{
                color :rgb(18, 119, 147);
            }
        }

        .index-header nav ul li a {
            color :rgb(15, 93, 114);
        }

        
        .index-header .city-name {
            color :rgb(18, 119, 147);
        }

    } 
    