
.media {
  .header {
    width: 100%;
    position: relative;
    color: rgba(255, 255, 255, 0.825);
    background-color: rgb(18, 119, 147);


    a {
        color: rgba(255, 255, 255, 0.825);

    }
    .left-container nav ul li a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.825);

    }

    .right-container {
      .city-name{
        color: rgba(255, 255, 255, 0.825);
         font-size: .7em;
      }
      .links-box .link-social {
        // filter: invert(99%) sepia(1%) saturate(2328%) hue-rotate(135deg) brightness(118%) contrast(100%);
        // filter: invert(80%) sepia(100%) saturate(500%) hue-rotate(180deg);
        filter: invert(100%) brightness(100%);
        opacity: 0.825;
      }
    }


}
}

.media {
    height: 100vh;
    .container { 
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10vh;

      .top {
        width: 100vw;

        .title{
            text-align: center;
            width: 100%;
            padding: 5vh;
            background-color: rgb(18, 119, 147);
            color: white;

            h2{
                letter-spacing: 0.3em;
                font-size: 3em;
            }
        }

        .subtitle{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3em;
            letter-spacing: 0.3em;
        }

    }

      .wrapper-1 {
        // margin-top: 20vh;
        width: 80%;
        max-width: 1500px;

        .main{
          width: 100%;
          height: 100%;

          display: flex;
          justify-content: center;
          align-items: center;
          .vid-container{
            height: 60vh;
            width: 50vw;
          }
        }
      }

      .wrapper-2{
        padding : 2em;
        width: 80%;
        max-width: 1500px;

        .clips-title{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 3em;
          letter-spacing: 0.3em;
        }

        .clips{
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: center;
          gap: 10px;

          .clip-item{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            iframe, p{
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 1em;
            }
          }
          
        }
      }

    }

    // footer {
    //   top: 120vh;
    //   position: absolute;
    // }
  }

  