header {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-inner {
  width: 100%;
  max-width: 1500px;
  color: black;
  font-size: 19px;
  letter-spacing: 1.2em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-inner .left-container {
  margin-left: 8%;
}

header .header-inner .left-container .header-name {
  font-family: literal;
  font-style: normal;
  font-size: 3.5em;
  letter-spacing: -.05em;
  text-transform: uppercase;
}

header .header-inner .left-container .header-name a {
  text-decoration: none;
}

header .header-inner .left-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: auto;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 300;
}

header .header-inner .left-container nav ul li {
  text-decoration: none;
  padding: 0 5px;
}

header .header-inner .left-container nav ul li a {
  text-decoration: none;
  color: black;
}

header .header-inner .left-container nav ul li a:hover {
  color: #6db9b3;
}

header .header-inner .right-container {
  margin-right: 8%;
  padding: 1% 0;
  width: 20%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header-inner .right-container .links-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px 20px;
}

header .header-inner .right-container .links-box .img-outer {
  border-radius: 50%;
  padding: 8px;
  margin: 5px;
  border: 2px solid black;
  display: inline-block;
  font-size: 21px;
}

header .header-inner .right-container .links-box .img-outer img {
  min-width: 25;
  min-height: 30;
}

header .header-inner .right-container .city-name {
  font-size: 21px;
  letter-spacing: .3em;
  line-height: 1em;
  padding: 0 10px;
  text-align: center;
  font-weight: 700;
}

.header-mobile, .nav-button, .nav-mobile {
  display: none;
}

@media only screen and (max-width: 640px) {
  @-webkit-keyframes slide-in {
    from {
      margin-left: -100vw;
    }
    to {
      margin-left: 0;
    }
  }
  @keyframes slide-in {
    from {
      margin-left: -100vw;
    }
    to {
      margin-left: 0;
    }
  }
  header {
    display: none;
  }
  .header-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-mobile a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    letter-spacing: .2em;
  }
  .nav-button, .header-mobile {
    background-color: rgba(13, 13, 20, 0.8);
  }
  .nav-button {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .nav-button img {
    width: 50px;
    height: 50px;
  }
  .nav-mobile {
    position: fixed;
    -webkit-animation-name: slide-in;
            animation-name: slide-in;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    height: 100vh;
    width: 100vw;
    z-index: 1;
  }
  .nav-mobile .navbar-mob-options {
    background-color: rgba(41, 108, 139, 0.9);
    height: 100vh;
    width: 90vw;
  }
  .nav-mobile .navbar-mob-options ul {
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    list-style-type: none;
  }
  .nav-mobile .navbar-mob-options ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: .2em;
  }
  .nav-mobile .close-sec {
    width: 10vw;
    height: 100vh;
  }
  .nav-mobile .close-sec .close-btn-wrapper {
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(16, 85, 90, 0.8);
    cursor: pointer;
  }
  .nav-mobile .close-sec .close-btn-wrapper img {
    height: 50%;
    width: 50%;
  }
}
/*# sourceMappingURL=navbar.css.map */