.header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .header-inner {
  width: 100%;
  max-width: 1500px;
  font-size: 22px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .header-inner .left-container .header-name {
  font-family: literal;
  font-style: normal;
  font-size: 3.5em;
  text-transform: uppercase;
}
.header .header-inner .left-container .header-name a {
  text-decoration: none;
}
.header .header-inner .left-container nav ul {
  display: flex;
  list-style-type: none;
  width: auto;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 300;
  justify-content: center;
  align-items: center;
}
.header .header-inner .left-container nav ul li {
  text-decoration: none;
  padding: 0 5px;
  display: flex;
}
.header .header-inner .left-container nav ul li a {
  text-decoration: none;
  color: black;
}
.header .header-inner .left-container nav ul li a:hover {
  color: rgb(109, 185, 179);
}
.header .header-inner .right-container {
  margin-right: 8%;
  padding: 1% 0;
  width: 20%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header .header-inner .right-container .links-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 5px 20px;
}
.header .header-inner .right-container .links-box .img-outer {
  border-radius: 50%;
  padding: 8px;
  margin: 5px;
  border: 2px solid black;
  display: inline-block;
  font-size: 21px;
}
.header .header-inner .right-container .links-box .img-outer img {
  min-width: 25;
  min-height: 30;
}
.header .header-inner .right-container .city-name {
  font-size: 21px;
  letter-spacing: 0.3em;
  line-height: 1em;
  padding: 0 10px;
  text-align: center;
  font-weight: 700;
}

.index-header {
  position: absolute;
  width: 60vw;
  padding: 5vw;
  height: 100vh;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-header .header-inner {
  min-height: 50vh;
  min-width: 80%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.index-header .header-inner .city-name {
  font-size: 2vw;
  letter-spacing: 0.3em;
  line-height: 3em;
  padding: 0 10px;
  text-align: center;
  font-weight: 700;
  width: 100%;
}
.index-header .header-inner .header-name {
  font-family: literal;
  font-style: normal;
  font-size: max(30px, 6vw);
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.index-header .header-inner .header-name a {
  text-decoration: none;
}
.index-header .header-inner nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-header .header-inner nav ul {
  display: flex;
  list-style-type: none;
  width: 90%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  line-height: 4;
  justify-content: space-between;
}
.index-header .header-inner nav ul li {
  text-decoration: none;
  padding: 0 5px;
}
.index-header .header-inner nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
}
.index-header .header-inner nav ul li a:hover {
  color: rgb(109, 185, 179);
}
.index-header .header-inner .links-box-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.index-header .header-inner .links-box {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}
.index-header .header-inner .links-box .img-outer {
  border-radius: 50%;
  padding: 1em;
  margin: 1em;
  border: 2px solid black;
  display: inline-block;
}
.index-header .header-inner .links-box .img-outer img {
  min-width: 2.5vw;
  min-height: 2.5vw;
}

.header-mobile,
.nav-button,
.nav-mobile {
  display: none;
}

@media only screen and (max-width: 640px) {
  @keyframes slide-in {
    from {
      margin-left: -100vw;
    }
    to {
      margin-left: 0;
    }
  }
  header {
    display: none;
  }
  .header-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-mobile a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    letter-spacing: 0.2em;
  }
  .nav-button,
  .header-mobile {
    background-color: rgba(13, 13, 20, 0.8);
  }
  .nav-button {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .nav-button img {
    width: 50px;
    height: 50px;
  }
  .nav-mobile {
    position: fixed;
    animation-name: slide-in;
    animation-duration: 2s;
    height: 100vh;
    width: 100vw;
    z-index: 1;
  }
  .nav-mobile .navbar-mob-options {
    background-color: rgba(41, 108, 139, 0.9);
    height: 100vh;
    width: 90vw;
  }
  .nav-mobile .navbar-mob-options ul {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px;
    list-style-type: none;
  }
  .nav-mobile .navbar-mob-options ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 0.2em;
  }
  .nav-mobile .close-sec {
    width: 10vw;
    height: 100vh;
  }
  .nav-mobile .close-sec .close-btn-wrapper {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(16, 85, 90, 0.8);
    cursor: pointer;
  }
  .nav-mobile .close-sec .close-btn-wrapper img {
    height: 50%;
    width: 50%;
  }
}/*# sourceMappingURL=navbar.css.map */