  /*----------------------Resume----------------------*/
  .resume{
    .header {

        width: 100%;
        position: relative;
        color: rgba(255, 255, 255, 0.825);
        // background-color: rgb(40, 87, 174);
        background-color: rgb(18, 119, 147);

        a {
            color: rgba(255, 255, 255, 0.825);

        }
        .left-container nav ul li a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.825);

        }

        .right-container {

            .city-name{
                color: rgba(255, 255, 255, 0.825);
                font-size: .7em;
            }

            .links-box .link-social {
                // filter: invert(99%) sepia(1%) saturate(2328%) hue-rotate(135deg) brightness(118%) contrast(100%);
                // filter: invert(80%) sepia(100%) saturate(500%) hue-rotate(180deg);
                filter: invert(100%) brightness(100%);
                opacity: 0.825;
            }
        }
        


    }
  }

  .resume{
    min-height: 100vh;
    width: 100%;
    
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .top{
            width: 100vw;

            .title{
                text-align: center;
                width: 100%;
                padding: 5vh;
                // background-color: rgb(40, 87, 174);
                background-color: rgb(18, 119, 147);
                color: white;

                h2{
                    letter-spacing: 0.3em;
                    font-size: 4em;
                }
            }

            .subtitle{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                .social-links-tray{
                    padding: 20px;
                    display: flex;
                    .socials-wrapper-item{
                        // border : 1px solid black;
                        display: flex;
                        align-items: center;
                        // height: 2em;
                        a{
                            height: 4em;
                            margin : 1em;
                            min-width: 200px;
                            border : 1px solid black;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 5px;
                        } 
                        img{
                            height: 100%;
                            padding : .5em;
                        }
                    }
                }
            }

        }

        .inner{
            width: 80%;
            max-width: 1500px;

            .main{
                margin : 5vh;
                display : flex;

                .left-div, .right-div{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }

                .left-div, .right-div{
                    padding: 5vh;
                    // border : 2px solid red;
                }

                .img-container {
                    min-height: 100vh;
                    width: 100%;
                    // border : 2px solid red;
                    img{
                        // height: auto;
                        width: 100%;
                        object-fit: cover;
                        // overflow: hidden;
                        // border : 2px solid red;
                        max-height: 100vh
                    }
                }

                .button-container{
                    padding-top: 20px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }

                .button{
                    padding : 20px;
                    letter-spacing: 0.15em;
                    // background-color: rgb(40, 87, 174);
                    background-color: rgb(18, 119, 147);

                    color : white;
                    cursor: pointer;
                    border : none;
                    text-decoration: none;
                }
                
            }
        }

    }

}

@media only screen and (max-width: 640px) {
    .resume .container .inner .main{
        flex-direction: column-reverse;
        // .left-section{
        //     margin-bottom: 50px;
        // }
        // .left-div{
        //     margin-bottom: 5vh;
        // }
        .left-div, .right-div{
            display: flex;
            justify-content: space-evenly;
            .img-container {
                height: auto;
            }
            .button-container{
                // border : 2px solid yellow;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .resume-wrapper{
                // border : 2px solid green;
            }
            width: 100%;
            // border : 2px solid red;

        }
    }
}
