/*----------------------Resume----------------------*/
.resume .header {
  width: 100%;
  position: relative;
  color: rgba(255, 255, 255, 0.825);
  background-color: rgb(18, 119, 147);
}
.resume .header a {
  color: rgba(255, 255, 255, 0.825);
}
.resume .header .left-container nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.825);
}
.resume .header .right-container .city-name {
  color: rgba(255, 255, 255, 0.825);
  font-size: 0.7em;
}
.resume .header .right-container .links-box .link-social {
  filter: invert(100%) brightness(100%);
  opacity: 0.825;
}

.resume {
  min-height: 100vh;
  width: 100%;
}
.resume .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.resume .container .top {
  width: 100vw;
}
.resume .container .top .title {
  text-align: center;
  width: 100%;
  padding: 5vh;
  background-color: rgb(18, 119, 147);
  color: white;
}
.resume .container .top .title h2 {
  letter-spacing: 0.3em;
  font-size: 4em;
}
.resume .container .top .subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.resume .container .top .subtitle .social-links-tray {
  padding: 20px;
  display: flex;
}
.resume .container .top .subtitle .social-links-tray .socials-wrapper-item {
  display: flex;
  align-items: center;
}
.resume .container .top .subtitle .social-links-tray .socials-wrapper-item a {
  height: 4em;
  margin: 1em;
  min-width: 200px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.resume .container .top .subtitle .social-links-tray .socials-wrapper-item img {
  height: 100%;
  padding: 0.5em;
}
.resume .container .inner {
  width: 80%;
  max-width: 1500px;
}
.resume .container .inner .main {
  margin: 5vh;
  display: flex;
}
.resume .container .inner .main .left-div, .resume .container .inner .main .right-div {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.resume .container .inner .main .left-div, .resume .container .inner .main .right-div {
  padding: 5vh;
}
.resume .container .inner .main .img-container {
  min-height: 100vh;
  width: 100%;
}
.resume .container .inner .main .img-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100vh;
}
.resume .container .inner .main .button-container {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.resume .container .inner .main .button {
  padding: 20px;
  letter-spacing: 0.15em;
  background-color: rgb(18, 119, 147);
  color: white;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

@media only screen and (max-width: 640px) {
  .resume .container .inner .main {
    flex-direction: column-reverse;
  }
  .resume .container .inner .main .left-div, .resume .container .inner .main .right-div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .resume .container .inner .main .left-div .img-container, .resume .container .inner .main .right-div .img-container {
    height: auto;
  }
  .resume .container .inner .main .left-div .button-container, .resume .container .inner .main .right-div .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=resume.css.map */